
/* 전체 배경 */
.privacy-page {
  background: #ffffff;
  min-height: 100vh;
  padding: 20px;
}

.privacy-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.back-btn {
  position: absolute;
  left: 0;
  font-size: 24px;
  cursor: pointer;
}

.header-title {
  font-size: 18px;
  font-weight: bold;
}

.divider {
  border: none;
  border-bottom: 1px solid #000000;
  margin: 10px 0 20px;
}

.content-box {
  background: #f2b6b6;
  padding: 20px;
  border-radius: 16px;
}

.content-title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align:center;
}

.content-text {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 14px;
}

.privacy-page{
  max-width: 800px;
  margin: 0 auto;  
}

