/* 페이지 전체 배경 */
.inquiry-page {
  background: #f7dede;
  min-height: 100vh;
  padding: 10px;
  padding-bottom: 100px;
}

      .HeaderTitle {
  width: 100%;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  justify-content: flex-start;
}

.logo-box {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.logo-pin {
  font-size: 50px;
}

.logo-red-box {
  background: #d64545;
  color: white;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 12px;
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

.input-container {
  margin-bottom: 20px;
}

.input-label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 15px;
}

.input-box {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: #f1f1f1;
  border: none;
  font-size: 15px;
  outline: none;
  font-family: inherit;

}

.textarea-container {
  margin-bottom: 20px;
}

.textarea-label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 15px;
}

.textarea-box {
  width: 100%;
  height: 150px;         
  padding: 12px;
  background: #f1f1f1;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  resize: none;     
  outline: none;
  font-family: inherit;

}

.submit-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.submit-btn {
  background: #d64545;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn:hover {
  background: #bb3d3d;
}


.complete-box {
  background: white;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}

.inquiry-page {
  max-width: 800px;
  margin: 0 auto;   /* 가운데 정렬 */
}



