.map-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;   
}

.map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header-inputs {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 20;
}

.header-inputs input {
  background: rgba(255, 255, 255, 0.85);
  padding: 12px 15px;
  border-radius: 12px;
  border: none;
  font-size: 14px;
}

.navbar {
  position: fixed;   
  bottom: 20px;           
  left: 50%;
  transform: translateX(-50%);
  background: #c53939;
  width: 70%;
  padding: 14px 0;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;       
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


.pin-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background: white;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  z-index: 9999;
}


.color-menu {
  position: fixed;
  top: 80px;
  right: 20px;
  background: white;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  z-index: 9999;
}

.color {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
}

.color.red {
  background: #ff4d4d;
}

.color.yellow {
  background: #ffd54f;
}

.color.green {
  background: #4caf50;
}

.pin-main-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #ffffff;
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
  cursor: pointer;
  z-index: 9999;
}

.pin-color-menu {
  position: fixed;
  top: 70px;
  right: 20px;
  background: white;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 9999;
}

.pin-color {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
}

.pin-color.red {
  background: #ff5959;
}
.pin-color.yellow {
  background: #ffdd59;
}
.pin-color.green {
  background: #52c41a;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal-box {
  background: #fff;
  padding: 20px;
  width: 80%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-box textarea {
  height: 80px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

.modal-save-btn {
  background: #ff5252;
  padding: 10px;
  color: #fff;
  border-radius: 8px;
}

.modal-cancel-btn {
  background: gray;
  padding: 10px;
  color: white;
  border-radius: 8px;
}

