.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  padding: 5px 0;
  height: auto;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ddd;
  z-index: 9999;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.nav-icon {
  font-size:20px;
}
